/* some style */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.graph-paper-grid {
    font-family: "Courier New";
    font-size: 14px;
    font-weight: normal;
}
